<div>
    {{!-- fill in route when made --}}
    <h2>Add Fandoms</h2>
    <form method="POST" action="/users/{{userId}}/editFandoms">
        <fieldset>
        {{#each notUserFandoms}}
        <input type="checkbox" name="fandoms" value="{{_id}}"/><label>{{mediaName}}</label>
        {{/each}}
        </fieldset>
        <input type="submit" value="Add" />
    </form>
    <h2>Remove Fandoms</h2>
    <form method="POST" action="/users/{{userId}}/editFandoms?_method=DELETE">
        <select name="fandoms" multiple>
        {{#each userFandoms}}
        <option value="{{_id}}">{{mediaName}}</option>
        {{/each}}
        </select>
        <input type="submit" value="Remove" />
    </form>
</div>