<div>
    <section class="section">
    <h4>Add Fandoms</h4>
    <form method="POST" action="/users/{{userId}}/editFandoms">
    <div>
        {{#each notUserFandoms}}
        <p>
            <label>
                <input type="checkbox" name="fandoms" value="{{_id}}" />
                <span>{{mediaName}}</span>
            </label>
        </p>
        {{/each}}
    </div>
    <div><input type="submit" value="Add" class="btn" /></div>
    </form>
    </section>
    <div class="divider"></div>
    <section class="section">
    <h4>Remove Fandoms</h4>
    <form method="POST" action="/users/{{userId}}/editFandoms?_method=DELETE">
        <div class="input-field cold s12">
            <select name="fandoms" multiple>
            <option value="" disabled selected>Select</option>
            {{#each userFandoms}}
            <option value="{{_id}}">{{mediaName}}</option>
            {{/each}}
            </select>
        </div>
        <div><input type="submit" value="Remove" class="btn" /></div>
    </form>
    </section>
</div>