<section class="section">
<h2>{{user.username}}</h2>
<form method="POST" action="/users/{{user._id}}?_method=PUT">
<div class="input-field">
    <label for="username">Username:</label>
    <input type="text" name="username" value="{{user.username}}" />
</div>
<div class="input-field">
    <label for="bio">Bio:</label>
    <textarea name="bio" class="materialize-textarea">{{user.bio}}</textarea>
</div>
<div class="input-field">
    <label for="link">Link:</label>
    <input type="text" name="link" value="{{user.link}}" />
</div>
<div class="input-field">
    <input type="submit" value="Save Changes" class="btn"/>
</div>
</form>
</section>
<div class="divider"></div>
<section class="section">
    <p>Danger! Deleting your account is irreversible.</p>
    <form method="POST" action="/users/{{user._id}}?_method=DELETE">
    <div class="input-field">
        <input type="submit" value="DELETE ACCOUNT" class="btn red accent-4" />
    </div>
    </form>
</section>
