<section class="section">
<h2>{{user.username}}</h2>
<p>Join date: {{displayDate user.joinDate}}</p>
<h4>Bio</h4>
<p>{{#if user.bio}}
{{user.bio}}
{{else}}
{{user.username}} has no bio.
{{/if}}
</p>
<h4>Links</h4>
{{#if links.length}}
<p><a href="{{links.link}}">{{links.siteName}}</a></p>
{{else}}
<p>{{user.username}} has no links.</p>
{{/if}}
<p><a href="/users/{{user._id}}/edit" class="btn-small">Edit</a></p>
</section>
<section class="section">
    <h4>Fandoms</h4>
    <div class="collection">
    {{#if fandoms.length}}
        {{#each fandoms}}
        <a href="/fandoms/{{_id}}" class="collection-item">{{mediaName}}</a>
        {{/each}}
    {{else}}
        <p>No fandoms listed</p>
    {{/if}}
    </div>
    <p><a href="/users/{{user._id}}/editfandoms" class="btn-small">Edit</a></p>
</section>