<section class="section"><h2>{{fandom.mediaName}}</h2>
{{!-- media type functionality not implemented yet --}}
<h4>{{mediaType.typeName}}</h4>
</section>
<div class="divider"></div>
<section class="section">
    <h4>Fans</h4>
    <div class="collection">
    {{#if users}}
    {{#each users}}
    <a href="/users/{{_id}}" class="collection-item">{{username}}</a>
    {{/each}}
    {{else}}
    <p>This fandom has no listed fans. :(</p>
    {{/if}}
    </div>
</section>